<a href="https://colab.research.google.com/github/hyun98/Project_AlgoStudy/blob/master/%5BAI%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C%5DCode_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **0. 목차**
1. 라이브러리 설치
2. 데이터 불러오기
3. 데이터 전처리

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
pip install opencv-python

Requirement already satisfied: opencv-python in /usr/local/lib/python3.10/dist-packages (4.7.0.72)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from opencv-python) (1.22.4)

# **1. 라이브러리 설치**

In [ ]:
import os
import cv2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **2. 데이터 불러오기**

In [ ]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

### 데이터 확인하기

In [ ]:
train.head(10)

,img_id,img_path,mask_rle
0,TRAIN_0000,./train_img/TRAIN_0000.png,9576 7 10590 17 11614 17 12638 17 13662 17 146...
1,TRAIN_0001,./train_img/TRAIN_0001.png,208402 1 209425 6 210449 10 211473 14 212497 1...
2,TRAIN_0002,./train_img/TRAIN_0002.png,855 34 15654 9 16678 9 16742 8 17702 9 17766 9...
3,TRAIN_0003,./train_img/TRAIN_0003.png,362 6 745 15 798 22 900 25 1385 8 1828 16 1924...
4,44 23 711851 29 711982 42 712100 19 712195 41 ...,NaN,NaN
5,TRAIN_0004,./train_img/TRAIN_0004.png,34 27 1058 27 2082 27 3105 27 4129 27 5153 27 ...
6,TRAIN_0005,./train_img/TRAIN_0005.png,9958 29 10982 29 12006 29 13030 29 14054 29 15...
7,TRAIN_0006,./train_img/TRAIN_0006.png,657408 1 658431 2 659455 2 660480 1 661504 1 6...
8,TRAIN_0007,./train_img/TRAIN_0007.png,262 17 379 20 491 34 1286 17 1403 20 1515 34 2...
9,TRAIN_0008,./train_img/TRAIN_0008.png,5622 33 6646 33 7670 33 8693 34 9717 34 10741 ...

# **3. 데이터 전처리**

### **결측치, 이상치 처리**

In [ ]:
#결측치 제거
train.info()
train.isnull().sum()
train_df = train.dropna(axis = 0)
train_df.isnull().sum()

#중복값 제거
#train_df.drop_duplicates(['mask_rle'], keep = 'first')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   img_id    1518 non-null   object
 1   img_path  1228 non-null   object
 2   mask_rle  1228 non-null   object
dtypes: object(3)
memory usage: 35.7+ KB

img_id      0
img_path    0
mask_rle    0
dtype: int64

### **중복값 제거**

,img_id,img_path,mask_rle
0,TRAIN_0000,./train_img/TRAIN_0000.png,9576 7 10590 17 11614 17 12638 17 13662 17 146...
1,TRAIN_0001,./train_img/TRAIN_0001.png,208402 1 209425 6 210449 10 211473 14 212497 1...
2,TRAIN_0002,./train_img/TRAIN_0002.png,855 34 15654 9 16678 9 16742 8 17702 9 17766 9...
3,TRAIN_0003,./train_img/TRAIN_0003.png,362 6 745 15 798 22 900 25 1385 8 1828 16 1924...
5,TRAIN_0004,./train_img/TRAIN_0004.png,34 27 1058 27 2082 27 3105 27 4129 27 5153 27 ...
...,...,...,...
6908,TRAIN_5568,./train_img/TRAIN_5568.png,53680 4 54668 41 55688 45 56712 45 57736 45 58...
6909,TRAIN_5569,./train_img/TRAIN_5569.png,726 15 1750 15 2774 15 3798 16 4560 8 4822 29 ...
6910,TRAIN_5570,./train_img/TRAIN_5570.png,16464 9 17488 9 18512 9 19536 9 20560 9 21584 ...
6911,TRAIN_5571,./train_img/TRAIN_5571.png,147 13 1171 13 2195 13 3219 13 4243 13 5267 13...
6912,TRAIN_5572,./train_img/TRAIN_5572.png,259 17 435 14 474 13 744 9 981 4 1282 18 1459 ...